html {
  font-size: 8px;
  font-family: 'Open Sans', sans-serif;
}


h1 {
  font-size: 50px;
  text-align: center;
}

p, li {
  font-size: 15px;
  line-height: 2;
  letter-spacing: 1px;
}


html {
  background-color: grey;
}

body {
  width: 500px;
  margin: 0 auto;
  background-color: red;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: blue;
  text-shadow: 3px 3px 1px black;
}

img {
  display: block;
  margin: 0 auto;
}
